@font-face {
    font-family: 'latoreregular' format(truetype);
    src: url(../assets/fonts/latoregular.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay-Regular' format(truetype);
    src: url(../assets/fonts/PlayfairDisplay-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'latobold' format(truetype);
    src: url(../assets/fonts/latobold.ttf);
    font-style: normal;
}