$width_container: 1170px;
$adaptive_width_container: calc($width_container / 2);
$title-color: white;
$text-font: 'Lato', sans-serif;
$title-font: 'PlayfairDisplay-Regular', serif;
$button-font: 'latobold', sans-serif;
$button-color-green: #53F3CD;
